# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
tradeAdmin/Trade/Trade/Upload/60552951-d09d-44af-9e2d-94a83ec53023.jpg
tradeAdmin/Trade/Trade/Upload/7f1b4491-7e4b-4d56-b778-3e719afdb279.png
tradeAdmin/Trade/Trade/Upload/56e7681c-c7a7-4c60-ac08-24289fb3ec14.png
